In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Fichier TableauxdonnéesParcelle.xlsx
## Première exploration des données

In [6]:
data_parcelle = pd.read_excel('../Donnees/TableauxdonnéesParcelle.xlsx')
data_parcelle.head()

,Ecole,Age,Habitat,Parcelle,Nb arbres,Temps,Ganivelles,Emplacement,Enfantsparm2,Surface
0,Boulloche,2021,CpPl,CpPl_01Bou,1,3,0,0,11.6,37.3
1,Boulloche,2021,CpPl,CpPl_02Bou,0,3,0,1,11.6,45.7
2,Boulloche,2021,CpPl,CpPl_03Bou,4,3,0,0,11.6,104.9
3,Voltaire,2021,CpPl,CpPl_04Vol,1,3,0,1,10.7,44.3
4,Voltaire,2021,CpPl,CpPl_05Vol,0,3,0,1,10.7,225.3

In [8]:
data_parcelle.dtypes #on regarde les types de données

Ecole            object
Age               int64
Habitat          object
Parcelle         object
Nb arbres         int64
Temps             int64
Ganivelles        int64
Emplacement       int64
Enfantsparm2    float64
Surface         float64
dtype: object

In [9]:
data_parcelle.describe() #on regarde les statistiques descriptives

,Age,Nb arbres,Temps,Ganivelles,Emplacement,Enfantsparm2,Surface
count,127.000000,127.000000,127.000000,127.000000,127.000000,127.000000,127.000000
mean,2022.141732,1.937008,1.858268,0.330709,0.480315,13.005512,79.145039
std,0.709621,2.053831,0.709621,0.472332,0.501591,8.846857,78.443645
min,2021.000000,0.000000,1.000000,0.000000,0.000000,4.000000,9.100000
25%,2022.000000,1.000000,1.000000,0.000000,0.000000,7.500000,25.150000
50%,2022.000000,1.000000,2.000000,0.000000,0.000000,11.400000,50.000000
75%,2023.000000,3.000000,2.000000,1.000000,1.000000,14.500000,104.250000
max,2023.000000,13.000000,3.000000,1.000000,1.000000,41.900000,425.810000

Le tableau précédent montre les statistiques descriptives des variables du fichier excel
Il faut ignorer la colonne Age qui réalise une étude statistique sur des années, ce qui n'est pas pertinent, on étudiera plutot la colonne temps pour les durées d'installation des parcelles.
Ganivelles et Emplacement sont codées en binaire respectivement pour la présence (ou non) de ganivelles autour des parcelles et la position au bord (ou non) de la parcelle dans la cour.