In [18]:
import numpy 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
seaborn.set_style("white")

# permet d'afficher les graphiques dans un notebook
%matplotlib inline

In [20]:

# le dropna() permet de supprimer les pays pour lesquels il manque des informations
data_vdt = pd.read_csv("DataVdt_N.csv", sep = ";")
data_vdt

,Code,Habitat,Age,Surface,Buchholzia,Buchholzia fallax,Enchytraeidae,Enchytraeus,Enchytraeus japonensis,Enchytraeus luxuriosus,...,Microscolex,Microscolex dubius,Microscolex phosphoreus,Naididae,Eukerria,Eukerria saltensis,Ocnerodrilidae,Lumbricina,Oligochaeta,Total_VDT
0,CpUt_35Aqu,CpUt,1,147.15,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,2
1,EvEx_15Aqu,EvEx,1,159.16,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2
2,CpPl_01Bou,CpPl,3,37.30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,CpPl_02Bou,CpPl,3,45.70,0,0,1,0,0,0,...,1,1,0,0,1,0,0,1,0,9
4,CpPl_03Bou,CpPl,3,104.90,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,CpPl_06Vol,CpPl,3,68.00,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,4
129,CpPl_07Vol,CpPl,3,96.45,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
130,CpUt_06Vol,CpUt,3,157.00,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,3
131,CpUt_07Vol,CpUt,3,181.00,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2
132,CpUt_08Vol,CpUt,3,50.00,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,3

In [22]:
data_vdt['Total_VDT'] = data_vdt.iloc[:, -36:].sum(axis=1)

,Code,Habitat,Age,Surface,Buchholzia,Buchholzia fallax,Enchytraeidae,Enchytraeus,Enchytraeus japonensis,Enchytraeus luxuriosus,...,Microscolex,Microscolex dubius,Microscolex phosphoreus,Naididae,Eukerria,Eukerria saltensis,Ocnerodrilidae,Lumbricina,Oligochaeta,Total_VDT
0,CpUt_35Aqu,CpUt,1,147.15,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,2
1,EvEx_15Aqu,EvEx,1,159.16,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2
2,CpPl_01Bou,CpPl,3,37.30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,CpPl_02Bou,CpPl,3,45.70,0,0,1,0,0,0,...,1,1,0,0,1,0,0,1,0,9
4,CpPl_03Bou,CpPl,3,104.90,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,CpPl_06Vol,CpPl,3,68.00,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,4
129,CpPl_07Vol,CpPl,3,96.45,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
130,CpUt_06Vol,CpUt,3,157.00,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,3
131,CpUt_07Vol,CpUt,3,181.00,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2
132,CpUt_08Vol,CpUt,3,50.00,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,3

In [24]:
data_vdt.describe()

,Age,Surface,Buchholzia,Buchholzia fallax,Enchytraeidae,Enchytraeus,Enchytraeus japonensis,Enchytraeus luxuriosus,Fridericia,Fridericia tuberosa,...,Microscolex,Microscolex dubius,Microscolex phosphoreus,Naididae,Eukerria,Eukerria saltensis,Ocnerodrilidae,Lumbricina,Oligochaeta,Total_VDT
count,133.000000,132.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,...,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000
mean,1.857143,80.168788,0.007519,0.015038,0.744361,0.067669,0.067669,0.015038,0.007519,0.007519,...,0.045113,0.022556,0.060150,0.022556,0.030075,0.022556,0.007519,0.105263,0.007519,5.360902
std,0.697863,78.114387,0.086711,0.122162,0.437869,0.252127,0.252127,0.122162,0.086711,0.086711,...,0.208336,0.149046,0.238664,0.149046,0.171440,0.149046,0.086711,0.308052,0.086711,4.269941
min,1.000000,9.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,26.550000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,2.000000,51.100000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000
75%,2.000000,105.517500,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000
max,3.000000,425.810000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,18.000000